@use "../../../styles/variables.scss";

.fill {
	background-color: variables.$white;
	color: variables.$light-black;
	border: none;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.white-outline {
	background-color: transparent;
	border: 1px solid variables.$white;
	color: variables.$white;
	border-radius: 100px;
}

.icon-fill {
	background-color: variables.$white;
	border-radius: 50%;
	padding: 5px;
}

.gray-outline {
	background-color: transparent;
	border: 0.5px solid variables.$light-gray;
	color: variables.$white;
	border-radius: 100px;
}

.button {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 100px;
	overflow: hidden;
}

.icon {
	width: 20px;
	height: 20px;
}

.icon-and-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border-radius: 100px;

	color: variables.$light-gray;
	font-family: "OpenSans", sans-serif;
	font-style: italic;
}

.label {
	font-family: "OpenSans", sans-serif;
	color: variables.$light-black;
	background-color: transparent;
	font-style: italic;
	font-size: 18px;
}
