@use "../../../styles/variables.scss";

.work-layout-normal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 30px;
}

.work-layout-inverse {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	padding: 30px;
}

.work-details {
	display: flex;
	flex-direction: column;
	width: 500px;

	h1 {
		font-family: "OpenSans", sans-serif;
		color: variables.$white;
		font-size: 22px;
		width: inherit;
		font-weight: 500;
	}
}

.work-details-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 300px;
	margin-top: 30px;
	gap: 15px;
}

.skills-circle {
	width: auto;
	padding: 10px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.5px solid variables.$white;
	font-family: "FiraCode", sans-serif;
	border-radius: 100px;
	color: variables.$white;
	font-size: 12px;
}

.skills-circle:hover {
	background-color: white;
	color: variables.$light-black;
}

.company-description {
	margin-top: 30px;

	p {
		color: variables.$light-gray;
		font-family: "OpenSans", sans-serif;
		margin-top: 30px;
	}

	p span {
		color: variables.$white;
		font-family: "OpenSans", sans-serif;
		font-style: italic;
	}
}

.external-link-button {
	display: flex;
	flex-direction: row;
	margin-top: 90px;
}
