@use "../../styles/variables.scss";

.about-container {
	display: flex;
	flex-direction: column;
	margin-top: 200px;
}

.about-title-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "OpenSans", sans-serif;
	width: 100%;

	h4 {
		color: variables.$white;
		width: 50%;
	}

	p {
		color: variables.$light-gray;
		width: 400px;
		word-break: normal;

		span {
			font-family: "FiraCode", sans-serif;
			color: variables.$white;
		}
	}
}

.about-description {
	width: 50%;
}

.skills-container {
	margin-top: 150px;
	color: white;
}

.skills-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.first-box {
	width: 600px;
	height: 120px;
	padding: 25px;
	line-height: 20px;
	background-color: transparent;
	border: 0.5px solid variables.$light-gray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	h4 {
		color: variables.$light-gray;
		font-family: "OpenSans", sans-serif;
		font-weight: 300;
		font-size: 17px;
	}

	p {
		font-family: "FiraCode", sans-serif;
		font-weight: 300;
		font-size: 13px;
		margin-top: 7px;
	}
}

.second-box {
	width: 300px;
	height: 110px;
	padding: 20px;
	background-color: transparent;
	border: 0.5px solid variables.$light-gray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	h4 {
		font-family: "OpenSans", sans-serif;
		font-weight: 300;
		color: variables.$light-gray;
		font-size: 17px;
	}

	p {
		font-family: "FiraCode", sans-serif;
		font-weight: 300;
		font-size: 13px;
		margin-top: 7px;
	}
}

.first-box:hover,
.second-box:hover {
	background-color: white;
	color: variables.$light-black;

	h4 {
		background-color: white;
		color: variables.$light-black;
	}

	p {
		background-color: white;
	}
}

.skills-and-image-container {
	display: flex;
	justify-content: space-between;
}

.second-box-about-me {
	display: flex;
	justify-content: space-between;
}

.last-about-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
}

.last-section-description {
	font-family: "OpenSans", sans-serif;
	font-weight: 300;
	color: variables.$light-gray;
	font-size: 14px;
	width: 240px;

	span {
		color: variables.$white;
		font-style: italic;
	}
}

.avatar-div {
	display: flex;
	justify-content: center; /* Center avatar horizontally */
	align-items: center; /* Center avatar vertically */
	width: 50%; /* Give enough width for the avatar */
	height: 100%; /* Ensure the height is dynamic */
}
