@use "../../styles/variables.scss";

.about-container {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
}

.about-title-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "OpenSans", sans-serif;
	width: 100%;

	h4 {
		color: variables.$white;
		width: 50%;
	}

	p {
		color: variables.$light-gray;
		width: 400px;
		word-break: normal;

		span {
			font-family: "FiraCode", sans-serif;
			color: variables.$white;
		}
	}
}

.about-description {
	width: 50%;
}

.skills-container {
	margin-top: 150px;
	color: white;
}

.skills-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.first-box {
	width: 400px;
	height: 110px;
	padding: 15px;
	line-height: 20px;
	background-color: transparent;
	border: 0.5px solid variables.$light-gray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	h4 {
		color: variables.$light-gray;
		font-family: "OpenSans", sans-serif;
		font-weight: 300;
	}

	p {
		font-family: "FiraCode", sans-serif;
		font-weight: 300;
		font-size: 12px;
		margin-top: 7px;
	}
}

.second-box {
	width: 200px;
	height: 100px;
	padding: 15px;
	background-color: transparent;
	border: 0.5px solid variables.$light-gray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	h4 {
		font-family: "OpenSans", sans-serif;
		font-weight: 300;
		color: variables.$light-gray;
	}

	p {
		font-family: "FiraCode", sans-serif;
		font-weight: 300;
		font-size: 12px;
		margin-top: 7px;
	}
}

.first-box:hover,
.second-box:hover {
	background-color: white;
	color: variables.$light-black;

	h4 {
		background-color: white;
		color: variables.$light-black;
	}

	p {
		background-color: white;
	}
}

.skills-and-image-container {
	display: flex;
	justify-content: space-between;
}

.second-box-about-me {
	display: flex;
	justify-content: space-between;
}

.github-wrapper {
	width: 150px;
	position: relative;
	display: flex;
	align-items: center;
}

.github-button {
	display: flex;
	position: relative;
}

.github {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	position: absolute;
	right: 20;
	transition: right 0.5s ease-in; // ease-in for smoother start
}

.arrow-button {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	position: absolute;
	right: 55px; // starts outside of view
	cursor: pointer;
	transition: right 0.5s ease-in;
}

.diagonal-arrow {
	width: 35px;
	height: 35px;
}

.github-wrapper:hover .arrow-button {
	right: 95px; // arrow moves into the GitHub button's position
}

.last-about-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;

	.last-section-description {
		font-family: "OpenSans", sans-serif;
		font-weight: 300;
		color: variables.$light-gray;
		font-size: 12px;
		display: flex;
		width: 200px;
	}
}
