@use "../../styles/variables.scss";

.n-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: variables.$white;
}

.navbar-menu {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.navbar-menu {
		display: none;
	}

	.language-menu {
		display: none;
	}
}

.navbar-name {
	word-break: normal;
	width: 50px;
	font-family: "OpenSans", sans-serif;
	cursor: pointer;
}

.navbar-menu {
	font-family: "OpenSans", sans-serif;
	font-size: 14px;

	p {
		cursor: pointer;
	}
}

.big-circle {
	position: absolute;
	right: -45px; /* Move the circle out of the viewport */
	top: -45px;
	border-radius: 100px;
	border: 0.5px solid variables.$light-gray;
	width: 200px;
	height: 200px;
	z-index: 0;

	transition: transform 0.3s ease, border-color 0.3s ease;

	&:hover {
		transform: scale(1.1);
		border-color: variables.$white; /* Change border color on hover */
	}
}

.n-container:hover .big-circle,
.language-menu:hover .big-circle,
.language-menu p:hover + .big-circle {
	transform: scale(1.1);
	border-color: variables.$white; /* Change border color on hover */
}

.n-container:focus-within .big-circle {
	transform: scale(1.1);
	border-color: variables.$white; /* Change border color on focus */
}

.language-menu {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 10px;

	p {
		font-size: 18px;
		font-family: "OpenSans", sans-serif;
		cursor: pointer;
	}
}
