@use "./styles/variables.scss";

* {
	background-color: variables.$light-black;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	cursor: url("../public/images/black-cursor.png"), auto;
}

body {
	padding: 30px;
	overflow-x: hidden;
	caret-color: black;
}

button {
	cursor: url("../public/images/black-click-cursor.png"), auto; // Override default cursor for buttons
}
